
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
header {
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21.5px 0;
}
.navbar .nav-midlle ul {
  display: none;
  list-style: none;
}
.navbar .nav-right button {
  display: none;
}

.hero .hero-left {
  text-align: center;
}
.hero .hero-left h1 {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.hero .hero-left p {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  margin: 24px 0 21px;
}
.hero .hero-btn button {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 52px;
  border-radius: 30px;
  background: rgb(255, 207, 35);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hero .hero-btn p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 41px;
}
.hero .hero-right img:nth-child(2) {
  display: none;
}

@media screen and (min-width: 640px) {
  .hero .hero-left h1 {
    max-width: 342px;
    margin: auto;
  }
  .hero .hero-btn {
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 24px;
  }
  .hero .hero-btn p {
    color: #000;
    font-weight: 300;
    margin: 0;
  }
  .hero .hero-right img {
    max-width: 100%;
    height: 499px;
  }
}
@media screen and (min-width: 900px) {
  .navbar .nav-midlle ul {
    display: flex;
    align-items: center;
    gap: 24px;
    display: flex;
  }
  .navbar .nav-midlle li a {
    color: #000;
  }
  .navbar .nav-right img {
    display: none;
  }
  .navbar .nav-right button {
    display: block;
    border-radius: 30px;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
  .hero .hero-right img:nth-child(1) {
    display: none;
  }
  .hero .hero-right img:nth-child(2) {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    max-width: 1100px;
  }
  .hero {
    display: flex;
    column-gap: 130px;
    padding: 64px 0;
    align-items: center;
  }
  .hero .hero-right img:nth-child(1) {
    display: block;
    max-width: 100%;
    height: 110%;
  }
  .hero .hero-right img:nth-child(2) {
    display: none;
  }
  .hero .hero-left {
    max-width: 1000px;
    margin-top: 50px;
  }
  .hero .hero-left h1 {
    text-align: start;
    margin-left: 0;
  }
  .hero .hero-left p {
    text-align: start;
    max-width: 531px;
  }
}
.healthy_life {
  background-color: #f3f3f3;
  padding: 20px 0;
}
.healthy_life .naturionals {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.healthy_life .naturionals .expert {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.healthy_life .naturionals .expert .expert_img {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
}
.healthy_life .naturionals .expert .expert_img h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 155.556%; /*  */
}
.healthy_life .naturionals .expert p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
}

@media screen and (min-width: 900px) {
  .healthy_life .naturionals {
    padding: 39px 0;
    flex-direction: row;
    column-gap: 61px;
  }
  .healthy_life .naturionals .expert .expert_img {
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .healthy_life .naturionals {
    padding: 64px 0;
    flex-direction: row;
    column-gap: 30px;
  }
}
.mental_health {
  background-color: #000;
  padding: 24px 0;
}
.mental_health .mental-right {
  color: white;
}
.mental_health .mental-right h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 133.333%;
  letter-spacing: -0.1px;
  margin-top: 1.4rem;
}
.mental_health .mental-right p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin: 14px 0;
}
.mental_health .progres {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mental_health .progres li {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: 0.1px;
}
.mental_health .progress {
  display: none;
}
.mental_health .mental-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mental_health .mental-left img:nth-child(2) {
  display: none;
}

@media screen and (min-width: 640px) {
  .mental_health .mental-left img {
    max-width: 100%;
    height: 550px;
  }
}
@media screen and (min-width: 900px) {
  .mental_health .mental-left img:nth-child(1) {
    display: none;
  }
  .mental_health .mental-left img:nth-child(2) {
    display: block;
  }
  .mental_health .mental-right {
    max-width: 415px;
  }
  .mental_health .mental-right h3 {
    margin-top: 0;
    text-align: start;
  }
  .mental_health .mental-right p {
    text-align: start;
  }
  .mental_health .progres ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .mental-trec {
    display: inline-flex;
    column-gap: 129px;
    padding: 64px 0;
  }
}
@media screen and (min-width: 1200px) {
  .mental_health .mental-right h3 {
    margin-top: 0;
    text-align: start;
    max-width: 503px;
  }
  .mental_health .mental-right p {
    text-align: start;
  }
  .mental_health .mental-left img:nth-child(1) {
    display: block;
    height: 423px;
  }
  .mental_health .mental-left img:nth-child(2) {
    display: none;
  }
  .mental_health .progress {
    display: flex;
    justify-content: center;
  }
  .mental_health .progress li {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.1px;
  }
  .mental_health .progres {
    display: none;
  }
  .mental {
    display: flex;
    column-gap: 133px;
    padding: 96px 0;
  }
  .mental-trec {
    flex-direction: column;
    max-width: 553px;
  }
}
.programm-talk {
  padding: 32px 0;
}

.talk-card {
  display: flex;
  max-width: 340px;
  padding: 24px;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 8px;
  background: #f3f3f3;
  gap: 55px;
}
.talk-card p {
  max-width: 273px;
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  color: #000;
}
.talk-card h3 {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #000;
}

.talk-card:nth-child(2) {
  display: none;
}

.talk-card:nth-child(3) {
  display: none;
}

.talk-img {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .programm {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
  .talk-card:nth-child(2) {
    display: flex;
  }
}
@media screen and (min-width: 900px) {
  .programm-talk {
    max-width: 100%;
  }
  .talk-card:nth-child(3) {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .programm-talk {
    padding: 96px 0;
  }
  .talk-img {
    display: none;
  }
}
.contact {
  padding: 192px 0;
  width: 100%;
  background: url("/images/yellow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.yourself p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #000;
}
.yourself h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: -0.5px;
  color: #000;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 32px;
}
.yourself button {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  padding: 8px 16px;
  display: flex;
  margin: auto;
  border-radius: 24px;
  border: none;
}

@media screen and (min-width: 640px) {
  .yourself h2 {
    font-size: 34px;
  }
}
@media screen and (min-width: 900px) {
  .yourself h2 {
    font-size: 40px;
    line-height: 120%;
    max-width: 600px;
  }
}
.footer-color {
  background-color: #000;
}

.footer {
  padding: 50px 0;
  color: rgb(255, 255, 255);
}
.footer h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.footer_data {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
}
.footer_data .footer_info h3 {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}
.footer_data .footer_info h3 sup {
  color: #FFF;
  font-size: 8.218px;
  font-weight: 900;
  line-height: 107.143%;
  letter-spacing: -0.147px;
}
.footer_data .footer_info ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_data .footer_info li {
  list-style: none;
}
.footer_data .footer_info li a {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 142.857%;
}

.footer-Subscribe {
  position: relative;
  max-width: 338px;
  margin: auto;
}
.footer-Subscribe h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: 24px;
}
.footer-Subscribe input {
  padding: 12px 54px 12px 24px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  width: 100%;
}
.footer-Subscribe i {
  position: absolute;
  font-size: 16px;
  right: 26px;
  top: 70px;
}
.footer-Subscribe p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 142.857%;
  opacity: 0.4;
  margin-top: 20px;
}

@media screen and (min-width: 640px) {
  .footer {
    margin: auto;
  }
  .footer h2 {
    text-align: start;
  }
  .footer .general {
    display: flex;
    justify-content: space-between;
    gap: 89px;
  }
  .footer_data {
    flex: 2;
    gap: 10px;
  }
  .footer_data .footer_info ul {
    text-align: left;
  }
  .footer_data .footer_info h3 {
    text-align: start;
  }
  .footer-Subscribe {
    margin-bottom: 30px;
    flex: 1;
  }
  .footer-Subscribe h3 {
    text-align: start;
  }
  .footer-Subscribe .input {
    width: 100%;
  }
  .footer-Subscribe p {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    margin: auto;
    display: flex;
    column-gap: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
