* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
